//////////////////////////////////
// Primary Container Rules ///////
//////////////////////////////////

.cog--mq {
  // - Susy Grid mixin removed since we want to allow center column the ability to go full width, this may need to be changed and we remove this for a specific content type that uses full width items like paragraphs.
  // This also produces a clearfix pseudocontent item.
  // @include container(80em);
  max-width: 1200px;
  margin: 0 auto;
}

// let hero image go full-width
.pre-content .cog--mq {
  max-width: 100%;
  margin: 0 auto $component-gutter;

  .block {
    margin: 0;
  }
}
