/* See https://css-tricks.com/full-width-containers-limited-width-parents/ */
.block.full-width,
.block.full-width-content,
.full-width,
.full-width-content {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}

.block.narrow-width,
.narrow-width {
  max-width: 60rem;
  margin: $component-gutter auto;
}

.block.default-width,
.default-width {
  max-width: 75rem;
  margin: $component-gutter auto;
}

.full-width > div,
.full-width > figure,
.full-width > form {
  max-width: 75rem;
  margin: 0 auto;
}

/* trying to abstract these out and move overrides to the specific paragraphs types. Need to redo the field for the list style key. */
.flex-grid-2 {
  > .field__items {
    display: flex;
    flex-wrap: wrap;

    > .field__item {
      flex-basis: 50%;
    }
  }
}

.flex-grid-3 {
  > .field__items {
    display: flex;
    flex-wrap: wrap;

    > .field__item {
      flex-basis: 33.33%;

      h2 {
        font-size: 2rem;
      }
    }
  }
}

.flex-grid-4 {
  > .field__items {
    display: flex;
    flex-wrap: wrap;

    > .field__item {
      flex-basis: 25%;

      h2 {
        font-size: 2rem;
      }
    }
  }
}

/* View widget layouts. This is hackier than I'd like but it gives us side by side widgets. If Markup control improves or we can use a theme function to add classes on the entity reference field we can rewrite this to be smarter. */
.paragraph {
  div[class*='column'] {
    h1 {
      font-size: 3rem;
    }
  }

  .column-1 {
    width: 50%;
    float: left;
    padding-right: $component-gutter;
    margin-top: 2rem;
    margin-bottom: 2rem;

    &.narrow-width,
    &.default-width,
    &.full-width,
    &.full-width-content {
      width: 50%;
      left: 0;
      right: 0;
      margin-left: 0;
      margin-right: 0;

      @media only screen and (max-width: 640px) {
        width: 100%;
        float: none;
      }
    }

    @media only screen and (max-width: 640px) {
      width: 100%;
      float: none;
    }
  }

  .column-2 {
    width: 50%;
    float: left;
    padding-left: $component-gutter;
    margin-top: 2rem;
    margin-bottom: 2rem;

    &.narrow-width,
    &.default-width,
    &.full-width,
    &.full-width-content {
      width: 50%;
      left: 0;
      right: 0;
      margin-left: 0;
      margin-right: 0;

      @media only screen and (max-width: 640px) {
        width: 100%;
        float: none;
      }
    }

    @media only screen and (max-width: 640px) {
      width: 100%;
      float: none;
    }
  }
}

/* Yes this is a bit of a hack but it's the least bad option for a decent enhancement for the end user. */
.paragraph .column-2 + .column-2.layout-fix {
  float: none;
  clear: both;
}

.paragraph .column-1.layout-fix {
  margin: 0;
  display: none;
}

.paragraph .column-2.layout-fix {
  margin: 0;
}

.paragraph .layout-fix > * {
  display: none;
}

div[class*='background'].column-1,
div[class*='background'].column-2 {
  margin-top: $component-gutter;
  margin-bottom: $component-gutter;
}

/* Fixing empty space that shows with non floated layout of news and events widgets. */
div[class*='flex-grid'].layout-fix {
  display: none;
}
