.cta-button a {
  display: inline-block;
  font-size: 1.5em;
  padding: $component-gutter;
  background: $maroon;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
  overflow: hidden;
  min-width: 166px;
  border-radius: 4px;
  color: $white;
  z-index: 10;

  &:hover {
    color: $white;
    text-decoration: none;
  }
}
