/* Sub .navigation */
.block-system-menublock.menu--main {
  &.navigation {
    background: white;
    border-radius: 2px;
    display: block;
    margin: 0 15px 1em;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
    overflow: hidden;/* need this for images that are a little too big */

    h2 {
      background: #003b5c;
      color: $white;
      padding: $component-gutter;
    }

    ul {
      padding: 0;
      margin: 0;
    }

    ul li {
      list-style: none;
      padding: 0.5em 0;
    }

    li a {
      display: block;
      line-height: 1.2;
      padding: 0.6em 15px;
      border-bottom: none;
      border-left: 2px solid transparent;/* keeps links from shifting on hover */
    }

    li a:hover {
      border-left: 2px solid #881c1c;
    }

    a.is-active {
      font-weight: bold;
    }
  }

  /* .navigation .block-title a:not(.is-active)::before {
    font-family: FontAwesome;
    content: "\f0d9";
    margin-right: 0.5em;
    opacity: 0.5;
  }

  .navigation .block-content {
    padding: 0 !important;
  }

  .navigation .block-content > ul,
  .navigation .menu-block-wrapper > ul {
    margin: 0.75em 0;
  }

  .navigation ul li {
    margin: 0;
    border-bottom: none;
    padding: 0;
  }

  .navigation li a {

  }

  .nolink {
    display: block;
    padding: 0.3em 15px;
  }

  .separator hr {
    margin: 0.4em 0;
  }

  .navigation li a:hover,
  .navigation li a.active-trail,
  .navigation li a.active {
    border-left: 2px solid #5b7f95;
  }

  .navigation li a.active-trail,
  .navigation li a.active {
    font-weight: bold;
    color: black;
  }

  .navigation li.collapsed > a,
  .navigation li.expanded > a,
  .nolink {
    margin-right: 15px;
  }

  .navigation li.collapsed > a::after,
  .navigation li.expanded > a::after,
  .nolink::after {
    content: "\f0da";
    font-family: FontAwesome;
    float: right;
    color: #5b7f95;
    margin-right: -15px;
  }

  .navigation li.expanded > a::after,
  .nolink::after {
    content: "\f0d7";
  }

  .navigation ul ul a {
    padding-left: 30px;
  }
  */
}
