.paragraph--type--hero-image-and-caption {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;

  > div {
    position: relative;
  }

  img {
    display: block;
    width: 100%;
  }

  .slide-caption {
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
    padding: 2rem;
    position: absolute;
    bottom: 5%;
    right: 5%;
    width: 35%;
    color: $white;

    &.background-maroon {
      background-color: rgba($maroon, 0.8);
    }

    &.background-dark {
      background-color: rgba($darkblue, 0.8);
    }

    &.background-light {
      background-color: rgba($off-white, 0.8);
    }

    @media only screen and (max-width: 1024px) {
      position: static;
      width: 100%;
      padding: 1rem;
    
      &.background-maroon {
        background-color: rgba($maroon, 1);
      }

      &.background-dark {
        background-color: rgba($darkblue, 1);
      }

      &.background-light {
        background-color: rgba($off-white, 1);
      }
    }

    h2 {
      line-height: 1.2;
    }

    a {
      text-decoration: none;
    }

    p {
      overflow: hidden;
    }
  }

  .top-left.slide-caption {
    right: inherit;
    left: 5%;
    top: 5%;
    bottom: inherit;
  }

  .bottom-left.slide-caption {
    right: inherit;
    left: 5%;
    top: inherit;
    bottom: 5%;
  }

  .centered.slide-caption {
    left: 50%;
    transform: translate(-50%, 0);
    width: calc(100vw - 2rem);
    max-width: 1280px;

    @media only screen and (max-width: 1024px) {
      position: static;
      transform: none;
      width: 100%;
    }
  }

  .top-right.slide-caption {
    top: 5%;
    bottom: inherit;
  }

  .none.slide-caption { 
    display: none; 
  }

  .field--name-field-hero-link {
    padding: 0.5rem 0;

    a {
      display: inline-block;
      font-size: 1.5em;
      padding: $component-gutter;
      background: $maroon;
      font-weight: 600;
      text-align: center;
      text-decoration: none;
      overflow: hidden;
      min-width: 166px;
      border-radius: 4px;
      color: $white;
      z-index: 10;
      vertical-align: middle;
      -webkit-transform: perspective(1px) translateZ(0);
      transform: perspective(1px) translateZ(0);
      -webkit-transition-duration: 0.3s;
      transition-duration: 0.3s;
      -webkit-transition-property: transform;
      transition-property: transform;
    }

    a:hover,
    a:focus,
    a:active {
      text-decoration: none;
      color: #fff;
      -webkit-transform: scale(1.1);
      transform: scale(1.1);
    }
  }

  .background-maroon .field--name-field-hero-link a {
    border: solid 1px $white;
  }
}