.paragraph--type--highlight {
  > div {
    padding: 3rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
  }

  div.background-light {
    border-bottom: solid 4px $maroon;
  }

  .field--name-field-text > *:last-child {
    margin-bottom: 0;
  }
}
