.paragraph--type--people {
  margin-top: $component-gutter;
  margin-bottom: $component-gutter;

  .list {
    > .field__items {
      > .field__item {
        border-bottom: solid 1px $light-gray;
        margin-bottom: 1rem;

        &:last-of-type {
          border-bottom: none;
        }

        .layout__region {
          display: flex;
          align-items: center;
        }

        .field--name-field-headshot {
          flex-basis: 250px;
        }

        .person__details {
          padding: 1rem 0;
          flex-basis: calc(100% - 250px);
        }

        .field--name-field-headshot + .person__details {
          padding: 1rem 0 1rem 1rem;
        }
      }
    }
  }

  .flex-grid-2 {
    > .field__items {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      padding: $component-gutter 0;

      > .field__item {
        flex-basis: 50%;
        text-align: center;

        .layout {
          max-width: 300px;
          min-width: 300px;
          margin: 1rem auto;
          padding: 1rem;
        }
      }
    }
  }

  .flex-grid-3 {
    > .field__items {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      padding: $component-gutter 0;

      > .field__item {
        flex-basis: 33.33%;
        text-align: center;

        .layout {
          max-width: 300px;
          min-width: 300px;
          margin: 1rem auto;
          padding: 1rem;
        }
      }
    }
  }

  .flex-grid-4 {
    > .field__items {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      padding: $component-gutter 0;

      > .field__item {
        flex-basis: 25%;
        text-align: center;

        .layout {
          max-width: 300px;
          min-width: 200px;
          margin: 1rem auto;
          padding: 1rem;
        }
      }
    }
  }
}