.paragraph--type--image-gallery {
  .field--name-field-label-description {
    padding: 0;
  }

  div[class*='background'] .field--name-field-label-description {
    padding: 0 1rem;
  }

  a.photoswipe {
    display: block;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);

    img {
      display: block;
      width: 100%;
      height: auto;
    }
  }


  .list {
    > .field__items {
      > .field__item {
        border-bottom: solid 1px $light-gray;
        margin-bottom: 1rem;
      }
    }
  }

  .flex-grid-2 {
    .photoswipe-gallery > .field__items {
      display: flex;
      flex-wrap: wrap;
      align-items: center;

      > .field__item {
        flex-basis: calc(50% - 2rem);
        margin: 1rem;
        min-width: 250px;
        max-width: 564px;

        @media only screen and (max-width: 564px) {
          flex-basis: calc(100% - 2rem);
        }

        > span {
          display: block;
        }
      }
    }
  }

  .flex-grid-3 {
    .photoswipe-gallery > .field__items {
      display: flex;
      flex-wrap: wrap;
      align-items: center;

      > .field__item {
        flex-basis: calc(33.33% - 2rem);
        margin: 1rem;
        min-width: 250px;
        max-width: 564px;

        @media only screen and (max-width: 564px) {
          flex-basis: calc(100% - 2rem);
        }

        @media only screen and (min-width: 565px) and (max-width: 995px) {
          flex-basis: calc(50% - 2rem);
        }

        > span {
          display: block;
        }
      }
    }
  }

  .flex-grid-4 {
    .photoswipe-gallery > .field__items {
      display: flex;
      flex-wrap: wrap;
      align-items: center;

      > .field__item {
        flex-basis: calc(25% - 2rem);
        margin: 1rem;
        min-width: 250px;
        max-width: 564px;

        @media only screen and (max-width: 564px) {
          flex-basis: calc(100% - 2rem);
        }

        @media only screen and (min-width: 565px) and (max-width: 1104px) {
          flex-basis: calc(50% - 2rem);
          min-width: 200px;
        }

        > span {
          display: block;
        }
      }
    }
  }

  div[class*='background'] {
    padding: 1rem 0;
  }
}
