.paragraph--type--news-feed {
  > div {
    padding: $component-gutter 0;
  }

  .list {
    .view-content {
      > .views-row {
        border-bottom: solid 1px $light-gray;
        margin-bottom: 1rem;

        .layout__region {
          display: flex;
          align-items: center;
          flex-wrap: wrap;
        }

        .field--name-field-teaser-image {
          flex-basis: 250px;
          padding: 0 1rem 1rem 0;

          @media only screen and (max-width: 564px) {
            flex-basis: 100%;
            padding: 0;
          }
        }

        .details {
          padding: 1rem 0;
        }

        .field--type-image + .details {
          padding: 1rem 0 1rem 1rem;
          flex-basis: calc(100% - 250px);

          @media only screen and (max-width: 564px) {
            flex-basis: 100%;
            padding: 0;
          }
        }
      }
    }
  }

  .flex-grid-2 {
    .view-content {
      display: flex;
      flex-wrap: wrap;
      margin: 0 -1rem;
      border-bottom: 0;


      > .views-row {
        flex-basis: 50%;
        min-width: 300px;
        max-width: 564px;

        @media only screen and (max-width: 564px) {
          flex-basis: 100%;
        }

        .layout__region--content > div {
          flex-basis: 100%;
        }
      }

      .node,
      .layout {
        margin: $component-gutter;
      }
    }
  }

  .flex-grid-3 {
    .view-content {
      display: flex;
      flex-wrap: wrap;
      margin: 0 -1rem;


      > .views-row {
        flex-basis: 33.33%;
        min-width: 300px;
        max-width: 564px;
        border-bottom: 0;

        @media only screen and (max-width: 564px) {
          flex-basis: 100%;
        }

        @media only screen and (min-width: 565px) and (max-width: 995px) {
          flex-basis: 50%;
        }

        h2 {
          font-size: 2rem;
        }

        .layout__region--content > div {
          flex-basis: 100%;
        }
      }

      .node,
      .layout {
        margin: $component-gutter;
      }
    }
  }

  .flex-grid-4 {
    .view-content {
      display: flex;
      flex-wrap: wrap;
      margin: 0 -1rem;


      > .views-row {
        flex-basis: 25%;
        min-width: 250px;
        max-width: 564px;
        border-bottom: 0;

        @media only screen and (max-width: 583px) {
          flex-basis: 100%;
        }

        @media only screen and (min-width: 584px) and (max-width: 1104px) {
          flex-basis: 50%;
        }

        h2 {
          font-size: 2rem;
        }

        .layout__region--content > div {
          flex-basis: 100%;
        }
      }

      .node,
      .layout {
        margin: $component-gutter;
      }
    }
  }

  .background-light,
  .background-dark,
  .background-maroon {
    padding: $component-gutter 0;

    .views-element-container {
      padding: $component-gutter;
    }

    &.full-width .views-element-container {
      padding: $component-gutter 0;
    }
  }

  div.full-width > div {
    max-width: 75rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  div[class*='background'].full-width > div {
    max-width: 75rem;
  }
}
