// Responsive menu

.responsive-menu-toggle-icon::before {
  top: 9px;
  left: 0;
  background: $black;
  width: 1.5rem;
  height: 0.25rem;
}

.responsive-menu-toggle-icon::after {
  top: 23px;
  left: 0;
  background: $black;
  width: 1.5rem;
  height: 0.25rem;
}

.responsive-menu-toggle-icon span.icon {
  top: 1rem;
  left: 0;
  background: $black;
  width: 1.5rem;
  height: 0.25rem;
}

.block-responsive-menu {
  margin: 0;
}

#block-responsivemenumobileicon,
#block-umass-standard-responsivemenumobileicon,
.responsive-menu-toggle {
  display: block;
  
  a#toggle-icon {
    left: 0;
    margin: 0.75rem 0 0;

    span.label {
      color: #000;
      position: absolute !important;
      top: 0.3rem;
      left: 2rem;
    }
  }

  @media only screen and (min-width: 960px) {
    display: none;
  }
}

.mm-menu {
  a,
  a:hover {
    color: #fff;
  }
}

.mm-panel {
  a,
  a:hover {
    color: #fff;
  }

  .mm-listitem__btn {
    background: $maroon;
  }

  .mm-btn_next,
  .mm-btn_next:hover {
    border-left: solid 1px #000;
  }
}

.mm-menu_theme-dark {
  --mm-color-border: rgba( 0,0,0, 1 );
  --mm-color-button: rgba( 255,255,255, 1 );
  --mm-color-text: rgba( 255,255,255, 1 );
  --mm-color-text-dimmed: rgba( 255,255,255, 1 );
  --mm-color-background: #333;
  --mm-color-background-highlight: rgba( 255,255,255, 1 );
  --mm-color-background-emphasis: rgba( 0,0,0, 0.1 );
  --mm-shadow: 0 0 20px rgba( 0,0,0, 0.5 );
}
